*{
    margin: 0px;
}

/* ------------- header -------------------- */

header{
width: 100%;
}
.image{
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bienvenue{
    color: white;
    margin-top: 50px;
}
.searchbar{
    margin-top: 250px;

    display: flex;
    height: 40px;
}
.validate{
    background-color: #4A934A;
}

/* --------------- Main --------------- */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tri{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 60%;
}

.vehicule{
    display: flex;
    align-items: center;
}
.buttonveh{
    background-color: #4AA14A;
    color: white;
    padding: 7px;
    border-radius: 5px;
    border: none;
}

/* --------------- Footer ------------- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>div>img{
    height: 80px;
}

.coord{
    font-size: 10px;
    margin-left: 50px;
}